
.homeSection{
    width: 100%;
    height: 31.3vw;
    display: flex;
    justify-content: center;
}
.home {
    width: 100%;
    height: 68.9vh;
    background-image: url("../media/tripBoy.svg");
    background-size: contain;
    background-repeat: no-repeat;

}
.home2 {
    width: 100%;
    height: 68.9vh;
    background-image: url("../media/tripBackground.svg");
    background-size: contain;
    background-repeat: no-repeat;

}
.home3 {
    width: 100%;
    height: 68.9vh;
    background-image: url("../media/tripGirl.svg");
    background-size: contain;
    background-repeat: no-repeat;

}
.subtitle{
    font-weight: 400;
    margin-top: 20px;
    
}
.container1{
    margin-left:5vw;
    margin-right:5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.subtitle1{
    display: flex;
    margin-top: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #5a555b;

}
.link{
    font-size: 1.5rem;
    color:"#002984"
}