.logo {
    margin-left: 10px;
    height: 7rem;
    width: 7rem;
    background-image: url("../media/Logo.png");
    background-size: cover;
}

.label {

    font-size: 1.6rem;
    margin-left: 20px;
    /* margin-right: 20px; */
    /* color: white; */
    text-decoration: none;
    color: black
}
.active{
    text-decoration: underline;    
}

.nav {
    cursor: pointer;
    height: fit-content;
    display: flex;
    width: 98%;
    margin: auto;

}